input[type="radio"] {
  display: none;
}

label {
  display: flex;
  padding: 10px;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.container {
  width: 20px;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid lightgray;
}

.cRadioBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fff;
  position: relative;
  border: solid 5px var(--border-color);
  box-sizing: border-box;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.cRadioBtn:hover {
  border: solid 8px var(--primary);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: var(--secondary);
}

.check:checked + label > .container > .cRadioBtn > .overlay {
  background: #fff;
  animation: shrink 0.3s ease-in-out forwards;
}

.check:checked + label > .container > .cRadioBtn {
  background: #ba470d;
  border-color: white;
}

.drops {
  position: absolute;
  background: #fff;

  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  aspect-ratio: 1;
}

.lgDrop {
  width: 50%;
}

.xsDrop {
  width: 20%;
}

.mdDrop {
  width: 30%;
}

.check:checked + label > .container > .cRadioBtn > .lgDrop {
  animation: drop 0.5s ease-in-out forwards;
}

.check:checked + label > .container > .cRadioBtn > .mdDrop {
  animation: drop 0.8s ease-in forwards;
}

.check:checked + label > .container > .cRadioBtn > .xsDrop {
  animation: drop 0.9s linear forwards;
}

@keyframes shrink {
  0% {
    width: 100%;
  }
  100% {
    width: 0px;
  }
}
